.footer{
    position: relative;
    display: flex;
    // padding-left:50px;
    // padding-right: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 50px;
    color: #fff;
    background-color:black;
    .footerLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .policies{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height:40%;
            align-items: left;
            span{
                    &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .subs{
            .Email{
                width:120%;
                background-color:white;
                color:black;
            }
            .btn{
                height:53px;
            background-color: white;
            position: relative;
            top: -55px;
            left: 81.5%;
            border: none;
            }
        }
    }
    .footerRight{
        .socials{
            position: relative;
            right:130px;
            top: 150px;
            span{
                margin: 0 10px 0 10px;
                &:hover{
                    .icons{

                        transform: scale(1.3);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}